# Libraries import

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import warnings
import os

warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
# add any helper functions here
from helper_functs import *

# Import data

In [ ]:
data_path = "../input_data/"
file = "test.csv"
df = pd.read_csv(data_path + file, sep=";", decimal=",", index_col = 0)

In [ ]:
df.head()

   SMM   val
0    1   5.0
1    2  56.1
2    3   NaN
3    4   8.1

# Explore data

In [ ]:
df.describe()

            SMM        val
count  4.000000   3.000000
mean   2.500000  23.066667
std    1.290994  28.649666
min    1.000000   5.000000
25%    1.750000   6.550000
50%    2.500000   8.100000
75%    3.250000  32.100000
max    4.000000  56.100000

In [ ]:
#explore the data
df.info()
print("___________________________________")
print("Num of missing values: \n", df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SMM     4 non-null      int64
 1   val     3 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 96.0 bytes
___________________________________
Num of missing values:
 SMM    0
val    1
dtype: int64

In [3]:
#plot the data
df["val"].plot()

NameError: name 'df' is not defined

# Data preprocessing

In [4]:
# fill missing values with mean
df.fillna(df.mean(), inplace=True)
df.head()

NameError: name 'df' is not defined

# Analysis

### Import any analysis specific libraries

In [44]:
# linear regression
from sklearn.linear_model import LinearRegression

### Analysis

In [56]:
results = pd.DataFrame(columns=["coef", "intercept", "r2_score", "mse", "rmse"])
#fill random results
results.loc[0] = [0, 0, 0, 0, 0]

# Save the results

In [59]:
## save to pickle/csv/shapefile/etc. Whatever is most appropriate
results_path = "../results/"
results.to_csv(results_path + "results.csv") # to_pickle is from pandas